{% extends 'profile/profile_user.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
            {% for ticket in tickets %}
              <table class="table">
          <tbody>


            <td >{{ ticket.ticket_title }}</td>
                {% if ticket.is_assigned_to_admin %}
                     <td>{{ ticket.ticket_id }}</td>
                     <p>فرستاده شده به ادمین سایت</p>
                {% else %}
                        <td >{{ ticket.ticket_id }}</td>
                    <a href="{% url 'assign_ticket' ticket.id %}">Assign ticket</a>
                {% endif %}
          </tbody>

        </table>
            {% endfor %}


{% endblock %}