{% extends 'profile/profile_user.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
            {% for ticket in tickets %}
              <table class="table">
          <tbody>
          <tr>
              <td> <a href="{% url 'description_answer' ticket.id %}">{{ ticket.ticket_title }}</a></td>
              <td >{{ ticket.ticket_id }}</td>
          </tr>
          </tbody>

        </table>
                   <p>..............................................</p>
            {% endfor %}


{% endblock %}